{% extends 'base.html.twig' %}

{% block title %} ProductInStore {% endblock %}

{% block stylesheets1 %} <link rel="stylesheet" href="/css/products_in_store/products_all.css"> {% endblock %}

   
{% block logo %} Products in Store {% endblock %}

{% block content %}

        {% for message in app.flashes('message') %}
            <div class='alert alert succes'>
                <span style='color:aqua; font-weight: bold; font-size: 20px'>{{message}}</span>
            </div>
        {% endfor %}<br>

        {{form_start(form)}}
            {{form_row(form.amount)}}
            <div class = 'form'> {{form_row(form.send)}} </div>
            <div class = 'form'> <button type="button"><a href="{{ path('products_all') }}">Show all items</a></button> </div>   
            <div style = 'clear:both'></div>
        {{form_end(form)}}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>actions >></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.amount }}</td>
                        <td>
                            <a href="{{ path('product_edit', {'id': product.id}) }}">edit >>></a>
                        </td>
                    </tr>  
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>

       
        <div class="navigation">
            {% if pageCount is defined and pageCount > 1 %}
                    <div class="pagination">
                        {% if first is defined and current != first %}
                            <span class="first">
                                <a href="{{ path('products_all', queryToLink|merge( {'page': first} ) ) }}"> &lt;&lt;</a>
                            </span>
                        {% else %}
                                <span class="current">&lt;&lt;</span>
                        {% endif %}

                        {% if previous is defined and not null and current != first %}
                            <span class="previous">
                                <a rel="prev" href="{{ path('products_all', queryToLink|merge( {'page': previous} ) ) }}">&lt;</a>
                            </span>
                        {% else %}
                            <span class="current">&lt;</span>
                        {% endif %}

                        {% for page in pagesInRange %}
                            {% if page != current %}
                                <span class="page">
                                    <a href="{{ path('products_all', queryToLink|merge( {'page': page} ) ) }}">{{ page }}</a>
                                </span>
                            {% else %}
                                <span class="current">{{ page }}</span>
                            {% endif %}
                        {% endfor %}

                        {% if next is defined and not null and current != last %}
                            <span class="next">
                                <a rel="next" href="{{ path('products_all', queryToLink|merge( {'page': next} ) ) }}">&gt;</a>
                            </span>
                        {% else %}
                            <span class="current">&gt;</span>
                        {% endif %}

                        {% if last is defined and current != last %}
                            <span class="last">
                                <a href="{{ path('products_all',  {'amount': amount, 'elements': elements,  'page': last}  ) }}">&gt;&gt;</a>
                            </span>
                        {% else %}
                            <span class="current">&gt;&gt;</span>
                        {% endif %}
                    </div>
            {% endif %}
        </div>

        {# only for dev: #}
        <br><span style="color:fuchsia; font-weight: bold" >Dev info:<br>
        {{developerMessage}}</span><br><br>

        <div class = 'links'>
            <a href="{{ path('product_add') }}"> Add new product >>>> </a>
        </div> 

{% endblock %}

