{% extends 'base.html.twig' %}

{% block title %} ProductInStore {% endblock %}

{% block stylesheets1 %} <link rel="stylesheet" href="/css/products_in_store/products_all.css"> {% endblock %}

   
{% block logo %} Products in Store {% endblock %}

{% block content %}

        {% for message in app.flashes('message') %}
            <div class='alert alert succes'>
                <span style='color:aqua; font-weight: bold; font-size: 20px'>{{message}}</span>
            </div>
        {% endfor %}<br>

        {{form_start(form)}}
            {{form_row(form.items)}}
            <div class = 'form'> {{form_row(form.send)}} </div>
            <div class = 'form'> <button type="button"><a href="{{ path('products_all') }}">Show all items</a></button> </div>   
            <div style = 'clear:both'></div>
        {{form_end(form)}}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>actions >></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.amount }}</td>
                        <td>
                            <a href="{{ path('product_edit', {'id': product.id}) }}">edit >>></a>
                        </td>
                    </tr>  
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>

        {# only for dev: #}
        <br><span style="color:fuchsia; font-weight: bold" >Dev info:<br>
        {{developerMessage}}</span><br><br>

        <div class = 'links'>
            <a href="{{ path('product_add') }}"> Add new product >>>> </a>
        </div> 

{% endblock %}

